@import "variables";

.zIndex100 {
  z-index: 100;
}

.relative {
  position: relative;
}

.mr-lt15 {
  margin-left: 15px !important;
}

.mr-rt10 {
  margin-right: 10px !important;
}

.pad-tp3 {
  padding-top: 3px;
}

.capitalize {
  text-transform: capitalize !important;
}

.minWidth90 {
  min-width: 90px !important;
}

.minWidth60 {
  min-width: 60px !important;
}

.page-under-construction {
  height: 87vh;
  background: #ffffff;
  img {
    position: absolute;
    top: 15%;
    left: 37%;
  }
}

.checkbox-color {
  span {
    font-size: 1em !important;
    svg {
      height: 0.9em !important;
      path {
        color: #ffffff !important;
      }
    }
  }
}

.pane-100 {
  width: 1350px !important;
}

.pane-80 {
  width: 800px !important;
  margin-right: 10px !important;
}

.ews-dropdown {
  width: 200px !important;
  color: #000000 !important;
  margin-top: 7px !important;
}

.enrollment-dropdown {
  width: 75% !important;
  color: #000000 !important;
  margin-top: 3px !important;
}

.enrollment-dropdown1 {
  width: 100% !important;
  color: #000000 !important;
  margin-top: 3px !important;
}

.expanded-style {
  margin-left: 40px !important;
  display: flex !important;
  font-size: 12px !important;
  div.ex-course,
  div.ex-courseName {
    flex: 4 !important;
  }
  div.ex-courseName {
    flex: 3 !important;
  }
  div.ex-score {
    flex: 1 !important;
  }
  div.ex-date {
    flex: 2 !important;
  }
  i {
    max-width: 30px !important;
    color: #3f51b5 !important;
  }
}

.cohort-expanded-style {
  margin-left: 50px !important;
  display: inline-flex !important;
  font-size: 12px !important;
  div {
    padding-right: 15px !important;
    padding-left: 15px !important;
    display: inline-flex;
  }
  div.width60 {
    min-width: 60px !important;
    max-width: 60px !important;
  }
  div.width80 {
    min-width: 80px !important;
    max-width: 80px !important;
  }
  div.width110 {
    min-width: 110px !important;
    max-width: 110px !important;
  }
  div.width200 {
    min-width: 200px !important;
    max-width: 200px !important;
  }
  i {
    max-width: 30px !important;
    color: #3f51b5 !important;
  }
}

.cohort-subject-expanded-style {
  margin-left: 350px !important;
  display: inline-flex !important;
  font-size: 12px !important;
  div {
    padding-right: 16px !important;
    padding-left: 16px !important;
    display: inline-flex;
  }
  div.width80 {
    min-width: 80px !important;
    max-width: 80px !important;
  }
  div.width100 {
    min-width: 120px !important;
    max-width: 120px !important;
  }
  div.width110 {
    min-width: 110px !important;
    max-width: 110px !important;
  }
  div.width200 {
    min-width: 200px !important;
    max-width: 200px !important;
  }
  i {
    max-width: 30px !important;
    color: #3f51b5 !important;
  }
}

.grade-expanded-style {
  margin-left: 40px !important;
  display: inline-flex !important;
  font-size: 12px !important;
  > div:nth-child(1) {
    min-width: 410px !important;
    max-width: 410px !important;
    margin-right: 10px !important;
    display: inline-flex;
  }
  > div:nth-child(2) {
    min-width: 120px !important;
    max-width: 120px !important;
    margin-right: 10px !important;
    display: inline-flex;
  }
  > div:nth-child(3) {
    min-width: 140px !important;
    max-width: 140px !important;
    margin-right: 10px !important;
    display: inline-flex;
  }
  > div:nth-child(4) {
    min-width: 85px !important;
    max-width: 85px !important;
    margin-right: 10px !important;
    display: inline-flex;
  }
  i {
    max-width: 30px !important;
    color: #3f51b5 !important;
  }
  span {
    padding-top: 5px !important;
  }
}
.split-panel {
  > div:nth-child(1) {
    height: 88vh !important;
    > span {
      margin: 2px !important;
      z-index: 200003 !important;
      background: #3f51b5 !important;
      font-weight: 900 !important;
      width: 2px !important;
      cursor: col-resize !important;
    }
  }
}

.link-div {
  padding-left: 50px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  cursor: pointer;
}

.toolbar-header-style {
  background: #3f51b5 !important;
  color: #ffffff !important;
  height: 30px !important;
  border-radius: 0px !important;
  > div {
    color: black !important;
  }
  .MuiGrid-item {
    > span {
      color: #ffffff !important;
    }
  }
  label {
    color: #ffffff !important;
    > span {
      color: #ffffff !important;
    }
  }
  i {
    color: #ffffff !important;
  }
}

.addhoc-button-style {
  border-color: #ffffff !important;
  > span {
    color: #ffffff !important;
  }
}

.behavior-toolbar-style {
  padding: 1px;
  margin: 2px;
}

.mr-lt-2 {
  margin-left: 2px;
}

.mr-rt-2 {
  margin-right: 2px;
}

.pad2 {
  padding: 2px;
}

.progress_grade_toolbar {
  > div {
    display: inline-flex !important;
    > p {
      float: left;
      font-size: 12px;
      margin: 12px !important;
    }
    > div {
      > div {
        max-height: 28px !important;
        font-size: 12px;
        min-height: 28px !important;
      }
      > div:nth-child(3) {
        font-size: 12px;
        max-height: 300px !important;
      }
    }
    > label {
      font-size: 12px !important;
    }
  }
}

.button-progress-toolbar {
  font-size: 12px !important;
  color: red !important;
  background: #ffffff !important;
  width: 100px !important;
  border: 1px solid !important;
  position: absolute !important;
  right: 95px !important;
  top: 5px !important;
  text-transform: none !important;
  padding: 0px 0px !important;
}

.checkbox-style {
  display: inline-flex !important;
  width: 100% !important;
  span {
    height: 0px !important;
    color: #3f51b5 !important;
    background: #ffffff !important;
  }
}

.honor-task-dropdown {
  width: 200px !important;
  color: #000000 !important;
  margin-top: 7px !important;
  div:nth-child(2) {
    max-height: 100% !important;
  }
}

.pbis-dropdown {
  width: 70% !important;
  color: #000000 !important;
  margin-top: 7px !important;
}

.pbistabs-table {
  div [role="table"] {
    > div:nth-child(1) {
      div[role="row"] {
        background: #3f51b5 !important;
        div {
          color: #ffffff !important;
        }
      }
    }
  }
}

.pbis-summary-header {
  text-align: center;
  font-weight: 500;
  background: #3f51b5;
  color: #ffffff;
  padding: 5px;
}
.pbis-summary-table-div {
  margin-bottom: 2px;
  border-bottom: 2px solid lightgray;
}

.ctae-filter {
  display: inherit;
  left: 55px;
  position: relative;
  > div {
    margin: -3px 0px !important;
  }
}

.ctae-modal-filter {
  width: 100%;
  position: relative;
  padding-left: 71%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  > div {
    width: 250px;
  }
}

.ctae-modal-expanded-style {
  display: inline-flex;
  padding-left: 60px;
  > div:nth-child(1) {
    width: 475px;
  }
  > div:nth-child(2) {
    width: 60px;
  }
  > div:nth-child(3) {
    width: 60px;
  }
  > div:nth-child(4) {
    width: 70px;
  }
  > div:nth-child(5) {
    width: 60px;
  }
  i {
    width: 30px;
    color: #3f51b5 !important;
  }
  span {
    top: -7px;
    position: relative;
  }
}

.dd-list {
  z-index: 999;
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  left: 10px;
  right: 0px;
  top: 17px;
  max-height: 200px;
  overflow: scroll;
  overflow-y: scroll;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-left: 0px;
  border: 1px solid #f1f1f1;
  .dd-list-item {
    list-style-type: none;
    padding: 2px 15px;
    font-size: 12px;
    &:hover {
      background: #4050b5;
      color: #f1f1f1;
      cursor: pointer;
    }
  }
}

.react-datepicker-wrapper {
  max-height: 25px !important;
  padding-top: 10px !important;
}
.react-datepicker__tab-loop {
  position: absolute !important;
  left: 0px !important;
  top: 10px !important;
}

.pbis-view-button,
.ctae-pathway-btn {
  text-transform: none !important;
  height: 20px !important;
  margin: 10px !important;
  // background: #3f51b5 !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  cursor: pointer !important;
}
