@import "variables";

.app-header {
  flex-grow: 1;
  .app-title {
    flex-grow: 1;
    span {
      color: $header-color;
      margin-left: 3px;
      text-decoration: underline;
    }
  }
  .last-updated {
    color: $color-red;
    margin-left: 15px;
    font-size: 11px;
  }
  .school-year {
    color: $color-green;
    margin-left: 15px;
    font-size: 11px;
  }
  .logout-btn,
  .MuiIconButton-root {
    margin-left: 15px !important;
    padding: 8px !important;
    // i.material-icons {
    //   font-size: 20px !important;
    // }
  }
}

.app-content {
  .primary-tab-paper,
  .MuiPaper-elevation1 {
    //box-shadow: none;
  }
  .secondary-tab-paper {
    border-bottom: 1px solid #cbcbcb;
  }
}

.full-screen-dialog {
  .MuiDialog-paperFullScreen {
    overflow: hidden;
  }
}

.sub-toolbar {
  vertical-align: middle;
  width: 100%;
  min-height: 35px;
  border-bottom: 1px solid #cccccc;
  .vertical-align {
    margin: auto;
  }
  .other-tools {
    .MuiButton-root {
      line-height: 1.3 !important;
      height: 28px;
    }
    .MuiButton-outlinedSizeSmall {
      font-size: 11px;
      text-transform: capitalize;
    }
    .other-tools-container {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 10px;
      .tools-btn,
      .MuiIconButton-root {
        margin: 0px 10px !important;
        padding: 4px !important;
        // i.material-icons {
        //   font-size: 20px !important;
        // }
      }
      Button {
        margin-right: 10px;
      }
    }
  }
}

.attendance-ada {
  .multi-chart-ada {
    margin-top: 10px;
  }
  .line-chart-ada {
    margin-top: 10px;
  }
}

.attendance-dashboard {
  margin-top: 10px;
}

.fullScreen-grid-container {
  margin-top: 50px;
  .sub-toolbar-fullscreen {
    @extend .sub-toolbar;
    min-height: 30px;
  }
}

.cohort-graduation {
  .toolbar {
    z-index: 1000;
    height: 32px;
    margin-bottom: 2px;
    .MuiGrid-spacing-xs-3 {
      width: 100% !important;
    }
    .main-container {
      margin: -10px;
      Button {
        padding: 2px 9px;
        font-size: 0.7125rem;
      }
      .MuiButton-textSizeSmall {
        padding: 3px 5px;
        font-size: 0.7125rem;
      }
      .PrivateSwitchBase-root-270 {
        padding: 1px;
      }
      .MuiTypography-body1 {
        font-size: 0.751rem;
        font-weight: bold;
      }
      .MuiSvgIcon-root {
        fill: currentColor;
        width: 0.9em;
        height: 0.9em;
      }
    }
  }
}

.cohort-table-toolbar {
  display: flex;
  .table-title-section {
    flex-grow: 5;
    margin: auto;
    padding-left: 10px;
  }
  .right-toolbar-section {
    padding-right: 10px;
    .cohort-checkbox {
      .PrivateSwitchBase-root-270,
      .PrivateSwitchBase-root-273 {
        padding: 1px;
      }
      .MuiTypography-body1 {
        font-size: 0.751rem !important;
        font-weight: bold !important;
      }
      .MuiSvgIcon-root {
        fill: currentColor;
        width: 0.9em;
        height: 1em;
      }
    }
  }
  Button {
    padding: 2px 9px;
    font-size: 0.7125rem;
  }
  .MuiButton-textSizeSmall {
    padding: 3px 5px;
    font-size: 0.7125rem;
  }
}

.rdt_TableHeadRow {
  min-height: 40px !important;
}

.grades {
  .breadcrumbs {
    display: inline-flex;
    width: 100%;
    margin: 4px 0px 2px 0px;
    padding: 5px 0px 5px 10px;
  }
}

.behaviour {
  border-top: 1px solid #cccccc;
  .sub-toolbar {
    .school-select {
      margin-top: 3px;
      .select-label {
        text-align: right;
        vertical-align: middle;
      }
    }
    .other-tools {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 10px;
      .tools-btn,
      .MuiIconButton-root {
        margin: 0px 10px !important;
        padding: 4px !important;
        // i.material-icons {
        //   font-size: 20px !important;
        // }
      }
      .checkbox-label {
        .MuiTypography-body1 {
          font-size: 13px !important;
        }
        .checkbox {
        }
      }
    }
  }
}
